<footer class="footer">
    <div class="footer-contact text-center center-block">
        <a href="https://github.com/anmokoto" target="_blank">
            <i data-feather="github" class="feather-foot-contact"></i>
        </a>
        <a href="mailto:chinaume@163.com">
            <i data-feather="mail" class="feather-foot-contact"></i>
        </a>
    </div>
    <div class="text-center" style="color: #99979c;">

        {% now 'Y' as current_year %}
        {% filter capfirst %}
            <h6>©{{ current_year }}. All Rights Reserved. Build with <a href="{% url 'home:about' 'chinaume' %}">@L</a>.
                <i data-feather="heart"
                   class="feather-foot"></i> Source from <a href="https://github.com/dj-pine"
                                                            target="_blank">pine</a>. Thanks <a
                        href="https://www.djangoproject.com" target="_blank">Django-1.11.10</a>.</h6>
        {% endfilter %}
        <script>
            feather.replace()
        </script>
    </div>

</footer>

{# 页脚 #}
