{% if  article and article.display %}

    <div class="article-item-content">
        <div class="article-item-title" data="{% url 'home:details' article.id %}">
            <span>{{ article.title|capfirst|force_escape }}</span>
        </div>
        <hr class="article-item-lines">
        <div class="article-item-title-sub">
            <div class="sub-style">
                <i data-feather="calendar"></i>
                <span>{{ article.calendar }}</span>
            </div>

            <div class="sub-style">
                <i data-feather="eye"></i>
                <span>{{ article.numerous }}</span>
            </div>
            <script>
                feather.replace({class: 'feather-article-item'})
            </script>
        </div>
        <div class="article-item-content-0 markdown-body">
            {% if article.thumbnail_content %}
                {# markdown #}
                {% load martortags %}
                {{ article.thumbnail_content|safe_markdown|truncatewords_html:100 }}
            {% endif %}
        </div>
    </div>
{% else %}
{% endif %}

