<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=urf-8"/>
    <meta name="keywords" content="pine,dj-pine">
    <meta name="author" content="chinaume">
{#    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">#}
    <title>{% block title %}{% trans title|title noop %}{% endblock %}</title>
    <link href="{% static 'favicon/favicon.ico' %}" rel="icon" as="image" type="image/x-icon">
    {% block link %}
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/codehilite.css' %}">
    {% endblock %}
    <script src="https://cdn.bootcss.com/feather-icons/4.6.0/feather.min.js"></script>
</head>

<body>

{% block body %}
    Hello World!
{% endblock %}

</body>

{% block script %}
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/less.js/2.7.3/less.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function () {
            $("img").each(function () {
                let src = $(this).attr('src')
                if (src) {
                    $(this).attr('data-original', src).addClass("lazyload img-responsive")
                }
            })
            $("img.lazyload").lazyload({
                effect: "fadeIn",
                threshold: 100
            })
            {#$('img.marked-emoji').removeClass('img-responsive')#}
        })
    </script>
{% endblock %}

</html>

{# 所有网页的顶层 #}