<% for (let ty in group){ %>
<%# {"js":[{},{},{}],"java":[{}]}%>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <canvas id="chart_<%= ty %>" width="100px" height="100px"></canvas>
</div>
<% } %>