{% extends 'super.html' %}
{% load static %}
{% block link %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{% static 'less/content/article/article-details.less' %}" as="style">
{% endblock %}


{% block body %}
    <div class="article-details-content">
        <div class="article-details-nav">
            <i data-feather="x"></i>
            <script>
                feather.replace({class: 'feather-nav'})
            </script>
            {% if article.tips %}
                <div class="article-details-nav-tag">
                    <span>{{ article.tips|escape|upper|default:"" }}·{{ article.group_name|escape|upper|default:"" }}</span>
                    <hr>
                </div>
            {% endif %}
        </div>
        <div class="article-details-box">
            <div class="article-details-box-left col-lg-2 col-md-2">
                <div>
                    <img class="img-circle img-responsive"
                         src="{{ article.author.userprofile.avatar.url }}">
                    <span>{{ article.author.username|force_escape }}</span>
                </div>
            </div>
            <div class="article-details-box-right col-lg-10 col-md-10">
                <div class="article-details-title">
                    <span>{{ article.title|force_escape }}</span>
                </div>
                <hr class="article-details-lines">
                <div class="article-details-title-sub">
                    <div class="sub-style">
                        <i data-feather="calendar"></i>
                        <span>{{ article.calendar|default:"1970-01-01" }}</span>
                    </div>

                    <div class="sub-style">
                        <i data-feather="eye"></i>
                        <span>{{ article.numerous|default:"100" }}</span>
                    </div>
                </div>
                <div class="article-details-body">
                    {% load  martortags %}
                    {{ article.content|safe_markdown }}
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
{% endblock %}


{% block script %}
    {{ block.super }}
    <script>
        feather.replace({class: 'feather-article-details'})
        $(document).ready(function () {
            $(".feather-nav").click(function () {
                window.history.back()
                $(window).unbind('scroll')
            })

            $('p a').attr({
                'target': '_blank'
            }).css({
                'display': 'inline-block',
                'margin': '2px'
            })
        })
    </script>
{% endblock %}